.box {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.box label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: rgb(248, 248, 248);
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #259bd1;
  cursor: pointer;
  border: 1px solid #146a92;
  border-radius: 0.25em;
}
.box input[type='file'] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
